.container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.5); /* Mais clara e mais opaca */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(226, 218, 218); /* Cor alterada para preto para melhor visibilidade */
}

.input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid white; /* Borda mais visível */
    border-radius: 40px;
    font-size: 18px;
    color: black; /* Texto em preto para contraste */
    padding: 20px 45px;
}

.input-field input::placeholder {
    color: gray; /* Placeholder em cinza para melhor visibilidade */
}

.container .recall-forget {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: -15px 0 15px;
    text-align: center;
    color: black; /* Texto em preto para visibilidade */
}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget label {
    color: black; /* Cor de texto ajustada para preto */
}

.recall-forget a:hover {
    text-decoration: underline;
}

.container button {
    width: 100%;
    height: 50px;
    background-color: #007BFF; /* Botões em azul para destaque */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    color: white; /* Texto do botão em branco para contraste */
}

.container .signup-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
    color: black; /* Cor de texto para visibilidade */
}


@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 450px; /* Ajuste para um pouco maior em tablets */
        padding: 60px 20px; /* Mais espaço interno para conforto */
    }

    .container h1 {
        font-size: 34px; /* Fonte maior para melhor visualização */
    }

    .input-field input, .container button {
        font-size: 20px; /* Fonte maior para facilitar a interação */
        padding: 25px 50px; /* Mais padding para campos e botão */
    }

    .container .recall-forget {
        font-size: 16px; /* Fonte maior para lembretes e links */
    }
}

@media (min-width: 1848px) {
    .container {
        max-width: 600px; /* Tamanho mais adequado para tablets de alta resolução */
    }
}
