.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    color: #e2dede;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    h2 {
      font-size: 1.8rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    button {
      width: 80%;
      font-size: 1rem;
    }
  }
  