* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("assets/Bradesco.webp.jpg");
  background-size: cover;
  background-position: center;
}

/* Responsividade para Tablets */
@media (max-width: 1848px) and (max-height: 2960px) {
  .app {
    min-height: 100vh;
    width: 100vw;
    background-size: contain;
  }
}
